@*
 * This template is called from the `index` template. This template
 * handles the rendering of the page header and body tags. It takes
 * two arguments, a `String` for the title of the page and an `Html`
 * object to insert into the body of the page.
 *@
@(webJarAssets: WebJarAssets, title: String)(content: Html)

<!DOCTYPE html>
<html lang="ja">
<head>
  <title>@title</title>
  <meta charset="UTF-8">
  <meta name="author" content="">
  <meta name="keywords" content="">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
  <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
  <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
  <link rel="stylesheet" media="screen" href="@routes.WebJarAssets.at(webJarAssets.locate("bootstrap.min.css"))">
  <script src="@routes.WebJarAssets.at(webJarAssets.locate("jquery.min.js"))"></script>
  <script src="@routes.WebJarAssets.at(webJarAssets.locate("bootstrap.min.js"))"></script>
  <script src="@routes.Assets.versioned("javascripts/hello.js")" type="text/javascript"></script>
</head>
<body>
  <div class="container">
    <div class="header clearfix">
      <nav>
        <ul class="nav nav-pills pull-right">
          <li role="presentation" class="active"><a href="#">Home</a></li>
          <li role="presentation"><a href="#">About</a></li>
          <li role="presentation"><a href="#">Contact</a></li>
        </ul>
      </nav>
      <h1 class="text-muted">Java Regex TestPage</h1>
    </div>
    @content
    <footer class="footer">
      <p>&copy;2016 Java Regex TestPage</p>
    </footer>
  </div>
</body>
</html>
